{% sw_extends '@Storefront/storefront/component/line-item/element/tax-price.html.twig' %}

{% set defaultShippingCountry = context.customer.defaultShippingAddress.country.iso %}

{% block component_line_item_tax_price_label %}
    {% if defaultShippingCountry != 'US' %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block component_line_item_tax_price_inner %}
    {% for calculatedTax in lineItem.price.calculatedTaxes %}
        <div class="line-item-product-number">
        {% if defaultShippingCountry == 'US' %}
            ({{ calculatedTax.taxRate }}%) {{ calculatedTax.tax|currency }}
        {% endif %}

        {% set calculatedTaxValue = calculatedTax.tax ?? 0 %}
        {% if calculatedTaxValue < 0 %}
            &minus;
        {% endif %}

        {% if calculatedTaxRate != 0 %}
            {{ calculatedTaxValue|abs|currency }}
        {% endif %}
        </div>
    {% endfor %}
{% endblock %}



        