.sw-order-line-items-grid .sw-order-line-items-grid__item_taxes{font-size:smaller;display:block;width:100%;line-height:1rem;text-align:right}.sw-data-grid.is--compact .sw-data-grid__body .sw-data-grid__cell-content{height:auto!important}
