{% block sw_order_line_items_grid_grid_columns_tax_inline_edit %}{% endblock %}

{% block sw_order_line_items_grid_grid_columns_tax_content_tooltip %}{% endblock %}

{% block sw_order_line_items_grid_grid_columns_tax_content %}
<span v-if="item.price && item.price.taxRules.length && lineItemTaxesMap[item.id]"  class="inocean-order-line-items-wrapper">
    <template v-for="(calculatedTax, index) in lineItemTaxesMap[item.id]" :key="index">
        <span class="inocean-order-line-items-taxes">
            {{ $tc('salesTaxUsa.order.summary.tax' + calculatedTax.taxName, { taxRate: calculatedTax.taxRate }, 1) }} {{ currencyFilter(calculatedTax.taxPrice, order.currency.isoCode, order.totalRounding.decimals) }}
        </span>
    </template>
</span>
{% endblock %}