.sw-order-line-items-grid {
    .sw-order-line-items-grid__item_taxes {
        font-size: smaller;
        display: block;
        width: 100%;
        line-height: 1rem;
        text-align: right;
    }
}
