<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Canada Tax Settings</title>
        <title lang="de-DE">Kanadische Steuereinstellungen</title>

        <input-field type="text">
            <name>CanadaTaxAB</name>
            <label>Alberta (AB)</label>
            <label lang="de-DE">Alberta (AB)</label>
            <defaultValue>5</defaultValue>
            <placeholder>5</placeholder>
        </input-field>

        <input-field type="text">
            <name>CanadaTaxBC</name>
            <label>British Columbia (BC)</label>
            <label lang="de-DE">British Columbia (BC)</label>
            <defaultValue>5,7</defaultValue>
            <placeholder>5,7</placeholder>
        </input-field>

        <input-field type="text">
            <name>CanadaTaxMB</name>
            <label>Manitoba (MB)</label>
            <label lang="de-DE">Manitoba (MB)</label>
            <defaultValue>5,7</defaultValue>
            <placeholder>5,7</placeholder>
        </input-field>

        <input-field type="text">
            <name>CanadaTaxNB</name>
            <label>New Brunswick (NB)</label>
            <label lang="de-DE">New Brunswick (NB)</label>
            <defaultValue>15</defaultValue>
            <placeholder>15</placeholder>
        </input-field>

        <input-field type="text">
            <name>CanadaTaxNL</name>
            <label>Newfoundland (NL)</label>
            <label lang="de-DE">Newfoundland (NL)</label>
            <defaultValue>15</defaultValue>
            <placeholder>15</placeholder>
        </input-field>

        <input-field type="text">
            <name>CanadaTaxNS</name>
            <label>Nova Scotia (NS)</label>
            <label lang="de-DE">Nova Scotia (NS)</label>
            <defaultValue>14</defaultValue>
            <placeholder>14</placeholder>
        </input-field>

        <input-field type="text">
            <name>CanadaTaxON</name>
            <label>Ontario (ON)</label>
            <label lang="de-DE">Ontario (ON)</label>
            <defaultValue>13</defaultValue>
            <placeholder>13</placeholder>
        </input-field>

        <input-field type="text">
            <name>CanadaTaxPE</name>
            <label>Prince Edward Island (PE)</label>
            <label lang="de-DE">Prince Edward Island (PE)</label>
            <defaultValue>15</defaultValue>
            <placeholder>15</placeholder>
        </input-field>

        <input-field type="text">
            <name>CanadaTaxQC</name>
            <label>Quebec (QC)</label>
            <label lang="de-DE">Quebec (QC)</label>
            <defaultValue>5,9.975</defaultValue>
            <placeholder>5,9.975</placeholder>
        </input-field>

        <input-field type="text">
            <name>CanadaTaxSK</name>
            <label>Saskatchewan (SK)</label>
            <label lang="de-DE">Saskatchewan (SK)</label>
            <defaultValue>5,6</defaultValue>
            <placeholder>5,6</placeholder>
        </input-field>

        <input-field type="text">
            <name>CanadaTaxYT</name>
            <label>Yukon (YT)</label>
            <label lang="de-DE">Yukon (YT)</label>
            <defaultValue>5</defaultValue>
            <placeholder>5</placeholder>
        </input-field>
    </card>
</config>

