<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>USA Tax Settings</title>
        <title lang="de-DE">USA Steuereinstellungen</title>

        <input-field type="bool">
            <name>TaxBreakdown</name>
            <defaultValue>true</defaultValue>
            <label>Show tax breakdown?</label>
            <label lang="de-DE">wie ist die Steueraufschlüsselung?</label>
        </input-field>

        <input-field type="bool">
            <name>FreightTaxable</name>
            <defaultValue>true</defaultValue>
            <label>Freight is taxable?</label>
            <label lang="de-DE">Fracht ist steuerpflichtig?</label>
        </input-field>

        <input-field type="int">
            <name>TaxDecimals</name>
            <defaultValue>2</defaultValue>
            <label>Tax Decimals</label>
            <label lang="de-DE">Steuerdezimalzahlen</label>
        </input-field>

    </card>
</config>

