{% sw_extends '@Storefront/storefront/page/checkout/summary.html.twig' %}

{% block page_checkout_summary_inner %}
    {% sw_include '@Storefront/storefront/page/checkout/summary/summary-position.html.twig' with { summary: summary } %}

    {% sw_include '@Storefront/storefront/page/checkout/summary/summary-shipping.html.twig' with { summary: summary } %}

    {% sw_include '@Storefront/storefront/page/checkout/summary/summary-net.html.twig' with { summary: summary } %}

    {% if app.request.attributes.get('_route') != 'frontend.checkout.cart.page' %}
        {% sw_include '@Storefront/storefront/page/checkout/summary/summary-tax.html.twig' with { summary: summary } %}

        {% sw_include '@Storefront/storefront/page/checkout/summary/summary-total.html.twig' with {
            total: total,
            decimals: decimals
        } %}
    {% else %}
        <div class="checkout-aside-summary-notice">{{ 'salseTaxCanada.checkout.summary.taxRateNotice'|trans }}</div>
    {% endif %}

{% endblock %}